.form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1em 3em;
    align-items: center;
}

.form>label.title {
    grid-area: 1 / 1 / 2 / 2;
}

.form>input.title {
    grid-area: 1 / 2 / 2 / 5;
}

.form>label.author {
    grid-area: 2 / 1 / 3 / 2;
}

.form>input.author {
    grid-area: 2 / 2 / 3 / 5;
}

.form>label.link {
    grid-area: 3 / 1 / 4 / 2;
}

.form>input.link {
    grid-area: 3 / 2 / 4 / 3
}

.form>label.likes {
    grid-area: 3 / 3 / 4 / 4;
}

.form>input.likes {
    grid-area: 3 / 4 / 4 / 5;
}

.form>button.submit {
    grid-area: 4 / 2 / 5 / 4;
    justify-self: center;
}


.notification {
    position: sticky;
    top: 0;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    font-size: x-large;
}


.error {
    background-color: lightcoral;
    border: 1px solid red;
    color: red;
}

.delete,
.updated,
.created {
    color: green;
    background-color: lightgreen;
    border: 1px solid green;
}

.center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.center-wrapper .center {
    align-self: center;
}
